h1:hover, h2:hover, p:hover {
  cursor: default;
}

p {
  font-size: 20px;
  font-family: monospace;
}

h1, h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  color: yellow;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  color: yellow;
  border-bottom: rgb(65, 65, 5) solid 5px;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.navbar_left {
  padding-left: 10%;
  float: left;
}

.navbar_right {
  padding-right: 10%;
  float: right;
}

.segment_div {
  padding: 2%;
  padding-left: 15%;
  padding-right: 15%;
}

.container {
  border: solid 2px black;
}

.heading {
  text-align: center;
  padding-top: 2%;
}

.text {
  padding: 8%;
}

#welcome_segment_div {
  margin-top: 75px;
}

#welcome_segment_div, #offer_segment_div {
  background-color:rgb(65, 65, 5);
  color:yellow;
}

#welcome_segment_container, #offer_segment_container  {
  background-color: black;
  font-weight: bold;
}

#about_segment_div, #contact_segment_div {
  background-color: black;
  color: yellow;
}

#about_segment_container, #contact_segment_container {
  background-color: rgb(65, 65, 5);
  font-weight: bold;
}

#about_segment_container   {
  width: 50%;
}

#offer_segment_container {
  width: 50%;
  margin-left: auto;
}

#insta_link {
  text-decoration: underline;
}

#contact_text {
  padding: 3%;
  padding-left: 5%;
  padding-top: 0%;
}

.small_text {
  font-size: 14px;
  float: right;
}

.italic_text {
  font-style: italic;
}

#offer_disclaimer {
  font-size: 5px;
}